src/test/
test/
venv/
.venv/
.git/
.vscode/
.idea/
infrastructure/
docker/

.env

static/*.wav

*.mp4
*.log

*.logs

*.mp3
__pycache__/
**/__pycache__/
*.pyc

chart/

*.hash
*.npz
*.edb
**/memory/**

data
