<!DOCTYPE html>
<html>
<head>
    <title>Plot Display</title>
</head>
<body>
    <h1>The wordclouds of the different texts</h1>
    <table>
        <tr>
            <td style="padding: -2000px;"><img src="/img/Wordcloud_of_Apologeticum.png" alt="Plot Image" style="width: 700px; height: auto;" /></td>
            <td style="padding: -2000px;"><img src="/img/Wordcloud_of_Apulée.png" alt="Plot Image" style="width: 700px; height: auto;" /></td>
        </tr>
        <tr>
            <td style="padding: -2000px;"><img src="/img/Wordcloud_of_Cicéron.png" alt="Plot Image" style="width: 700px; height: auto;" /></td>
            <td style="padding: -2000px;"><img src="/img/Wordcloud_of_De_Pallio.png" alt="Plot Image" style="width: 700px; height: auto;" /></td>
        </tr>
    </table>
</body>
</html>
